* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: inherit;
}

li {
    list-style: none;
}
a,a:link,a:visited,a:focus{
    text-decoration: none;
    color: inherit;
}

html{
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    position: relative;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
}

:root {
    --chapter-border-color: #d2d2d2;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}








