 .sidepanel {
    padding: 1rem 0 1rem .5rem;;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto ;
    overflow: hidden;
    align-content: start;
    position: relative;
    width: 40vw;
    max-width: 40rem;
    min-width: 30rem;

}

.sidepanel .header {
    grid-row: 1;
    padding: 1rem 1rem;
    text-align: center;
    position: relative;

}
.showHideCheckBox {
    grid-column: 2 /-1;
    grid-row: 1/-1;
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.showHideCheckBox label {
    margin-top: 5px;;
    cursor: pointer;
} 

.sidepanel .chapterContainer {
    display: block;
    overflow: auto;
    grid-column: 1/-1;
    width: 90%;
    margin: auto;
}

.chapterContainer  .chapter {
    border: 1px solid var(--chapter-border-color);
    border-radius: 5px;
    padding-bottom: .5rem;
    overflow: hidden;
}



.chapterContainer .chapter:not(:last-child) {
    margin-bottom: .5rem;
}

.chapterContainer .chapterTitile {
    font-weight: 600;
    background: aliceblue;
    padding: 1rem;
}

.chapter .lesson {
    display: block;
    margin-left: 2rem;
    padding: 1rem 1rem;
    background: #9e9e9e14;
    margin: .2rem;
    margin-left: 1rem;
    border-radius: 5px;
    cursor: pointer;
}